<div class="card bg-body-secondary">
  <h4 class="card-header">
    <%= post.title %>
  </h4>
  <div class="card-body">
    <p class="card-text mt-0">
      <%= post.content %></p>
    </p>
  </div>
</div>
